<ion-content color="success">
  <div class="ion-text-center content">
    <ion-icon class="checkmark-css" name="checkmark-circle-outline" color="light"></ion-icon>
    <div class="texto">
      <h3 class="title">PEDIDO REALIZADO!</h3>
      <p class="moretext">VOCÊ TAMBÉM PODE</p>
      <p class="moretext">NOS AVISAR DO SEU PEDIDO</p>
      <p class="moretext">VIA WHATSAPP NO BOTÃO ABAIXO</p>
      <ion-button fill="outline" color="light" (click)="goWhats()">
        <ion-icon color="light" name="logo-whatsapp"></ion-icon>
        QUERO AVISAR
      </ion-button>
    </div>
  </div>

</ion-content>
