.content {
    margin-top: 15%;
}
.checkmark-css {
    font-size: 144px;
}
.title {
    margin: 18px;
    font-weight: bold;
}
.moretext {
    margin: 9px;
    font-size: 18px;
}
ion-button {
    margin-top: 27px;
    font-size: 15px;
    font-weight: bold;
}
ion-icon {
    margin-right: 6px;
}