ion-menu ion-content {
  --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-dark));
} 

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}


#inbox-list {
  background-color: transparent !important;
  text-align: center !important;
}
ion-menu.md ion-list#inbox-list ion-title {
  font-size: 22px;
  font-weight: 600;
  color: #fff !important;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-title {
  font-size: 14px;

  margin-bottom: 18px;

  color: #9b9b9b;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  --background: rgba(var(--ion-color-danger-rgb), 0.14);
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-danger-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  color: var(--ion-color-light);
}

ion-menu.md ion-item ion-icon {
  color: var(--ion-color-medium);
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  color: var(--ion-color-medium);
}
ion-menu.md ion-item.selected ion-label {
  font-weight: 500;
  color: var(--ion-color-light);
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-danger);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-title {
  margin-bottom: 8px;
}

ion-menu.ios ion-title,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 14px;
  text-align: center;

  color: var(--ion-color-medium-shade);
}
.titulo {
  margin: 5px;
  color: #fff !important;
}
ion-item.selected {
  --color: var(--ion-color-light);
}

.img-login{
  width:150px;
  margin:0;
  margin-bottom: 20px;
}

.center{
  margin:0 auto;
  text-align:center;
}